@{
    ViewBag.Title = "Upload To S3";
    var apiUrl = AmuLab.Core.Constants.Configuration.ApiUrl;
    var externalLink = AmuLab.Core.Constants.Configuration.ExternalLink;
    var imageKitLink = AmuLab.Core.Constants.Configuration.ImageKit;
}

<section class="content-header">
    <h1>
        Upload to S3
        <small></small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="form-group">
        <input type="file" name="file" class="form-control" id="file" multiple />
    </div>
    <textarea id="suggest" name="suggest"></textarea>
    <hr />
    <button class="btn btn-success" id="uploadFile" type="button">Upload</button>
    <hr />
    <h4>Files List</h4>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Content Type
                </th>
                <th>
                    Size
                </th>
                <th>
                    File Preview
                </th>
            </tr>
        </thead>
        <tbody id="listData">
        </tbody>
    </table>
</section>
<div class="modal fade" id="modal-view-media">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" style="width: 100%; overflow: auto;">
                    <div class="col-md-12" style="text-align: center;" id="viewMedia"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Height</label>
                        <input class="form-control" type="number" id="height" value="500" />
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Width</label>
                        <input class="form-control" type="number" id="width" value="500" />
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-success" onclick="setMediaDimention()">Change Demission</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section scripts {
    <script src="~/Content/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Content/plugin/ckeditor/ckeditor.js"></script>
    
    <script type="text/javascript">
        let editor, mediaName = '', mediaContentType = '';
        $(document).ready(function() {
            getData();
        });

        function getData() {
            $.ajax({
                url: '@($"{apiUrl}/api/file/getAll")',
                type: "GET",
                success: function(result) {
                    var str = '';

                    for (var i = 0; i < result.length; i++) {
                        var item = result[i];
                        str += '<tr>';
                        str += '<td>' + item.mediA_NM + '</td>';
                        str += '<td>' + item.mediA_FIL_TY + '</td>';
                        str += '<td>' + item.mediA_SIZE_NBR + '</td>';
                        if (item.mediA_FIL_TY) {
                            if (item.mediA_FIL_TY.includes('image')) {
                                str += '<td><img style="cursor: pointer;" onclick="viewMedia(\'' + item.mediA_NM + '\', \'' + item.mediA_FIL_TY + '\')" src="https://ik.imagekit.io/dghocdn/' + item.mediA_NM + '?tr=h-50,w-50"/></td>';
                            } else if (item.mediA_FIL_TY.includes('video')) {
                                str += '<td><video height="50" width="50" style="cursor: pointer;" onclick="viewMedia(\'' + item.mediA_NM + '\', \'' + item.mediA_FIL_TY + '\')"><source src="https://ik.imagekit.io/dghocdn/' + item.mediA_NM + '?tr=h-50,w-50"/></video></td>';
                            } else {
                                str += '<td></td>';
                            }
                        } else {
                            str += '<td></td>';
                        }
                        str += '</tr>';
                    }
                    $('#listData').html(str);
                },
                error: function(err) {
                    console.log(err);
                    alert(err.statusText);
                }
            });
        }

        function viewMedia(name, contentType) {
            mediaName = name;
            mediaContentType = contentType;
            if (contentType) {
                if (contentType.includes('image')) {
                    $('#viewMedia').html('<img src="@imageKitLink' + name + '?tr=h-500,w-500"/>');
                } else {
                    $('#viewMedia').html('<video autoplay controls height="500" width="500"><source src="@imageKitLink' + name + '?tr=h-500,w-500"/></video>');
                }
            }
            $('#modal-view-media').modal('show');
        }

        function setMediaDimention() {
            if (mediaContentType) {
                if (mediaContentType.includes('image')) {
                    $('#viewMedia').html('<img src="@imageKitLink' + mediaName + '?tr=h-' + $('#height').val() + ',w-' + $('#width').val() + '"/>');
                } else {
                    $('#viewMedia').html('<video autoplay controls height="' + $('#height').val() +'" width="' + $('#width').val() + '"><source src="@imageKitLink' + name + '?tr=h-' + $('#height').val() + ',w-' + $('#width').val() + '"/></video>');
                }
            }
        }

        $('#modal-view-media').on('hidden.bs.modal',
            function(e) {
                $('#viewMedia').html('');
            });

        $('#uploadFile').on('click',
            function() {
                var fileUpload = $('#file').get(0);
                var files = fileUpload.files;
                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                $.ajax({
                    url: '@($"{apiUrl}/api/file/upload")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function(result) {
                        alert("Success");
                        getData();
                    },
                    error: function(err) {
                        console.log(err);
                        alert(err.statusText);
                    }
                });
            });
        CKEDITOR.plugins.addExternal('mentions', '/Content/plugin/ckeditor/plugins/mentions/', 'plugin.js');
        CKEDITOR.plugins.addExternal('autocomplete', '/Content/plugin/ckeditor/plugins/autocomplete/', 'plugin.js');
        CKEDITOR.plugins.addExternal('textmatch', '/Content/plugin/ckeditor/plugins/textmatch/', 'plugin.js');
        CKEDITOR.plugins.addExternal('textwatcher', '/Content/plugin/ckeditor/plugins/textwatcher/', 'plugin.js');

        CKEDITOR.replace('suggest',
            {
                extraPlugins: ['mentions', 'autocomplete', 'textmatch', 'textwatcher'],
                mentions: [
                    {
                        feed: '@($"{apiUrl}/api/account/searchProfile")?userName={encodedQuery}',
                        minChars: 0,
                        marker: '@("@")',
                        outputTemplate: '<a href="@externalLink/{name}" target="_blank">{name} (#{id})</a> '
                    }
                ]
            });

    </script>
}