@{
    ViewBag.Title = "Upload To S3";
    var apiUrl = AmuLab.Core.Constants.Configuration.ApiUrl;
}

<section class="content-header">
    <h1>
        Upload to S3
        <small></small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="form-group">
        <input type="file" name="file" class="form-control" id="file" />
    </div>
    <textarea id="suggest" name="suggest"></textarea>
    <hr />
    <button class="btn btn-success" id="uploadFile" type="button">Upload</button>
</section>

@section scripts {
    <script src="~/Content/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Content/plugin/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        let editor;
        $('#uploadFile').on('click',
            function() {
                var fileUpload = $('#file').get(0);
                var files = fileUpload.files;
                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                $.ajax({
                    url: '@($"{apiUrl}/api/file/upload")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function(result) {
                        alert("Success");
                    },
                    error: function(err) {
                        console.log(err);
                        alert(err.statusText);
                    }
                });
            });
        CKEDITOR.plugins.addExternal('mentions', '/Content/plugin/ckeditor/plugins/mentions/', 'plugin.js');
        CKEDITOR.plugins.addExternal('autocomplete', '/Content/plugin/ckeditor/plugins/autocomplete/', 'plugin.js');
        CKEDITOR.plugins.addExternal('textmatch', '/Content/plugin/ckeditor/plugins/textmatch/', 'plugin.js');
        CKEDITOR.plugins.addExternal('textwatcher', '/Content/plugin/ckeditor/plugins/textwatcher/', 'plugin.js');

        CKEDITOR.replace('suggest', {
            extraPlugins: ['mentions', 'autocomplete', 'textmatch', 'textwatcher'],
            mentions: [{ feed: '@($"{apiUrl}/api/account/searchProfile")', minChars: 0, marker: '@("@")' }]
        });
    </script>
}