@{
    ViewBag.Title = "Upload To S3";
    var apiUrl = AmuLab.Core.Constants.Configuration.ApiUrl;
}

<section class="content-header">
    <h1>
        Upload to S3
        <small></small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="form-group">
        <input type="file" name="file" class="form-control" id="file" />
    </div>
    <textarea id="suggest" name="suggest"></textarea>
    <hr />
    <button class="btn btn-success" id="uploadFile" type="button">Upload</button>
    <hr />
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Content Type
            </th>
            <th>
                Size
            </th>
            <th>
                File Preview
            </th>
        </tr>
        </thead>
        <tbody id="listData">
        </tbody>
    </table>
    <hr />
    <textarea id="suggest" name="suggest"></textarea>
</section>
<div class="modal fade" id="modal-view-media">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" style="width: 100%; overflow: auto;">
                    <div class="col-md-12" style="text-align: center;" id="image"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Height</label>
                        <input class="form-control" type="number" id="height" value="500"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Width</label>
                        <input class="form-control" type="number" id="width" value="500"/>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-success" onclick="setMediaDimention()">Set</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section scripts {
    <script src="~/Content/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Content/plugin/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        let editor, mediaName = '';
        $(document).ready(function() {
            getData();
        });

        function getData() {
            $.ajax({
                url: '@($"{apiUrl}/api/file/search")',
                type: "GET",
                success: function(result) {
                    var str = '';
                    
                    for (var i = 0; i < result.length; i++) {
                        var item = result[i];
                        str += '<tr>';
                        str += '<td>' + item.mediA_NM + '</td>';
                        str += '<td>' + item.mediA_FIL_TY + '</td>';
                        str += '<td>' + item.mediA_SIZE_NBR + '</td>';
                        str += '<td><img style="cursor: pointer;" onclick="viewMedia(\'' + item.mediA_NM + '\')" src="https://ik.imagekit.io/dghocdn/' + item.mediA_NM + '?tr=h-50,w-50"/></td>';
                        str += '</tr>';
                    }
                    $('#listData').html(str);
                },
                error: function(err) {
                    console.log(err);
                    alert(err.statusText);
                }
            });
        }

        function viewMedia(name) {
            mediaName = name;
            $('#image').html('<img src="https://ik.imagekit.io/dghocdn/' + name + '?tr=h-500,w-500"/>');
            $('#modal-view-media').modal('show');
        }

        function setMediaDimention() {
            $('#image').html('<img src="https://ik.imagekit.io/dghocdn/' + mediaName + '?tr=h-' + $('#height').val() + ',w-' + $('#width').val() + '"/>');
        }

        $('#uploadFile').on('click',
            function() {
                var fileUpload = $('#file').get(0);
                var files = fileUpload.files;
                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                $.ajax({
                    url: '@($"{apiUrl}/api/file/upload")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function(result) {
                        alert("Success");
                        getData();
                    },
                    error: function(err) {
                        console.log(err);
                        alert(err.statusText);
                    }
                });
            });
        CKEDITOR.plugins.addExternal('mentions', '/Content/plugin/ckeditor/plugins/mentions/', 'plugin.js');
        CKEDITOR.plugins.addExternal('autocomplete', '/Content/plugin/ckeditor/plugins/autocomplete/', 'plugin.js');
        CKEDITOR.plugins.addExternal('textmatch', '/Content/plugin/ckeditor/plugins/textmatch/', 'plugin.js');
        CKEDITOR.plugins.addExternal('textwatcher', '/Content/plugin/ckeditor/plugins/textwatcher/', 'plugin.js');

        CKEDITOR.replace('suggest', {
            extraPlugins: ['mentions', 'autocomplete', 'textmatch', 'textwatcher'],
            mentions: [{ feed: '@($"{apiUrl}/api/account/searchProfile")', minChars: 0, marker: '@("@")' }]
        });
    </script>
}