@model List<AntData.TKV.Business.Models.EnumModel>
@{
    Layout = null;
}

<div class="modal fade" id="modal-action">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Actions</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                <input style="margin-left:10px" type="checkbox" name="actionid" id="action_@item.Id" value="@item.Id"  /> @item.Text
                                @*@Html.CheckBox("actionid", new { @class = "minimal", @id = "action_" + item.Id, @value = item.Id }) @item.Text*@ 
                            }
                        }
                    </div>

                </div>
                <div class="row" style="padding:10px 0 0 0">
                    <div class="col-md-12 text-center">
                        <span id="messageAction" class=""></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="roleActionAdd();">Cập nhật</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
