@model List<AntData.TKV.Business.Entities.Roles>
@{
    Layout = null;
}
<div class="modal fade" id="modal-roles">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Danh sách quyền</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                <input style="margin-left:10px" type="checkbox" name="roles" id="roles_@item.Id" value="@item.Id" /> @item.Name  
                            }
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span id="message" class=""></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="userRoleAdd();">Cập nhật quyền</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
