@model AntData.TKV.Business.Models.FeedBackModel
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Thêm mới phản hồi</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("Index", "FeedBack", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-body">
                <div class="form-group">
                    <label>Tiêu đề <span style="color:red;">(*)</span></label>
                    <div class="input-group" style="width:100%;">
                        @Html.TextBoxFor(f => f.FeedBack.Title, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label>Nội dung <span style="color:red;">(*)</span></label>
                    <div class="input-group" style="width:100%;">
                        @Html.TextAreaFor(f => f.FeedBack.Content, new { @class = "form-control", @rows = "8" })
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="form-group text-danger">
                    @Html.ValidationMessage("error")
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Thêm mới</button>
            </div>
        }
    </div>
</div>

