@model AntData.TKV.Business.Models.DeviceCategoryModel
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Thêm mới</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("DeviceCategory", "Device", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-body">
                <div class="form-group">
                    <label>Tên danh mục <span style="color:red;">(*)</span></label>
                    <div class="input-group" style="width:60%;">
                        @Html.TextBoxFor(m => m.DeviceCategory.Name, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group text-danger">
                    @Html.ValidationMessage("error")
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Thêm mới</button>
            </div>
        }
    </div>
</div>