<div class="modal fade" id="modal-devicenote">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    Thêm mới ghi chú cho thiết bị
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="box-body">
                        <div class="form-group" id="titleDeviceNotePopup">
                            Thiết bị: <label id="noteTitle"></label> - Đơn vị quản lý: <label id="factoryName"></label>
                        </div>
                        <div class="form-group">
                            <label>Tình trạng thiết bị <span style="color:red;">(*)</span></label>
                            <select class="form-control select2" id="optionDeviceStatus" style="width: 100%;"></select>
                            <input type="hidden" id="popupDeviceStatus" />
                            <input type="hidden" id="popupDeviceStatusName" />
                        </div>
                        <div class="form-group">
                            <label>Ghi chú <span style="color:red;">(*)</span></label>
                            <input type="hidden" id="popupDeviceId" />
                            <textarea id="deviceNote" class="form-control" rows="4" placeholder="Ghi chú"></textarea>
                            @*@Html.TextAreaFor(m => m.Note, new { @class = "form-control", @row = "4", @id = "deviceNote" })*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span id="noteMessage" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
                <a class="btn btn-info pull-left hide" id="aNoteList">Danh sách</a>
                <button type="button" class="btn btn-primary" id="deviceNotePopupAdd">Thêm ghi chú</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    $.ajax({
        type: "GET",
        url: "/device/devicestatus",
        dataType: "json",
        success: function (response) {
            $("#optionDeviceStatus").select2({
                closeOnSelect: true,
                data: response.Data,
                placeholder: 'Chọn tình trạng thiết bị',
            })
             .on("change", function (e) {
                 var deviceStatusData = $("#optionDeviceStatus").select2('data');
                 $("#popupDeviceStatus").val(deviceStatusData[0].id);
                 $("#popupDeviceStatusName").val(deviceStatusData[0].text);
                 //$("#popupDeviceStatus").val($("#optionDeviceStatus").val());
             });
        }
    });
    $("#aNoteList").addClass("hide");

    $(document).ready(function () {
        $("#deviceNotePopupAdd").on('click', function () {
            $.ajax({
                method: "POST",
                url: "/device/devicenotepopup",
                data: {
                    DeviceId: $("#popupDeviceId").val(),
                    DeviceStatus: $("#popupDeviceStatus").val(),
                    DeviceStatusCaption: $("#popupDeviceStatusName").val(),
                    Note: $("#deviceNote").val(),
                }
            })
            .done(function (msg) {
                if (msg.Id > 1) {
                    $("#aNoteList").attr("href", "/device/devicenotelist?deviceId=" + $("#popupDeviceId").val()).removeClass("hide");
                    setTimeout(function () {
                        window.location.reload();
                    }, 1000);
                }
                $("#noteMessage").text(msg.Message).addClass("text-info");
            });
        });
    });
</script>
