
<div class="modal fade" id="modal-deviceLiquidate">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    Thanh lý thiết bị
                </h4>
                <p id="dvId" hidden></p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Ghi chú</label>
                            <textarea id="deviceLiquidateNote" class="form-control" rows="4" placeholder="Ghi chú"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span id="LiquidateMessage" class=""></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="popupDeviceLiquidatebtn">Thanh lý</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<script>
    $(document).ready(function () {
        $("#popupDeviceLiquidatebtn").on('click', function () {
            var id = $("#dvId").val();
            var note = $("#deviceLiquidateNote").val();
            if (note == undefined || note == "") {
                $("#LiquidateMessage").text("Lý do không được để trống.").addClass("text-danger");
                return;
            }
            else {
                var str = "Bạn có chắc chắn chuyển thiết bị này về thành lý không";
                var r = confirm(str);
                if (r == true) {
                    $.ajax({
                        method: "POST",
                        url: "/device/Liquidate",
                        data: {
                            Id: id,
                            Note: note
                        }
                    })
                    .done(function (msg) {

                        if (msg.Id > 1) {
                            $("#LiquidateMessage").text(msg.Message).removeClass("text-danger").addClass("text-info");
                            setTimeout(function () {
                                window.location.href = '@Url.Action("DeviceList","Device")';
                            }, 1000);
                        }
                        else {
                            $("#LiquidateMessage").text(msg.Message).addClass("text-danger");
                        }
                    });
                }
            }
        });
    });
</script>