<div class="modal fade" id="modal-importdevice">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Ajax.BeginForm("ImportExcel", "Device", null, new AjaxOptions
            {
                HttpMethod = "POST",
            }, new { id = "importExcelDevice", enctype = "multipart/form-data" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        Nhập excel
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Đơn vị <span style="color: red;">(*)</span></label>
                                    <div class="input-icon">
                                        <select class="form-control select2" style="width: 100%;" id="factoryForImport" name="factoryForImport"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>File <span style="color: red;">(*)</span></label>
                                    <div>
                                        <input type="file" class="form-control input-icon" id="fileToUpload" name="fileUpload"/>
                                        <a href="@Url.Action("ExportTemplateExcel", "Device")">
                                            <i class="fa fa-file-excel-o"></i> Tải file mẫu
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Nhập</button>
                </div>
            }
            <div id="displayError" style="display: none;"></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="~/Content/js/jquery.validate/jquery.validate.min.js"></script>
<script>
    $.ajax({
        type: "POST",
        url: "@Url.Action("GetFactory", "Device")",
        dataType: "json",
        data: {
            Pattern: '',
            Offset: 0,
            Limit: 10000000
        },
        success: function(response) {
            $("#factoryForImport").select2({
                closeOnSelect: true,
                data: response,
                placeholder: 'Chọn đơn vị'
            });
        }
    });

    @*$("#factoryForImport").select2({
        minimumInputLength: 0,
        allowClear: true,
        multiple: false,
        ajax: {
            url: '@Url.Action("GetFactory","Device")',
            dataType: 'json',
            type: "POST",
            data: function (params) {
                return {
                    Pattern: params.term,
                    Offset: (params.page || 0) * 10,
                    Limit: 10
                };
            },
            processResults: function (data, params) {
                params.page = params.page || 0;
                console.log(data);
                return {
                    results: data,
                    pagination: {
                        more: data.length >= 10 * params.page
                    }
                };
            }
        },
        placeholder: 'Chọn đơn vị',
        escapeMarkup: function (markup) { return markup; },
        templateResult: function (results) {
            if (results) {
                var rs = JSON.stringify(results);
                var json = JSON.parse(rs);
                return "<div title='" + json["text"] + "' id='" + json["id"] + "'>" + json["text"] + "</div>";
            }
            return "<div title='' id=''></div>";
        },
        templateSelection: function (results) {
            return "<div style='float:left;' id='" + results.id + "'>" + results.text + "</div>";
        }
    });*@

    var ImportExcelValidate = function() {
        var handleValidate = function() {
            $('#importExcelDevice').validate({
                errorElement: 'div', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: true, // do not focus the last invalid input

                invalidHandler: function() { //display error alert on form submit
                    $('.alert-danger', $('#importExcelDevice')).show();
                },

                highlight: function(element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                success: function(label) {
                    label.closest('.form-group').removeClass('has-error');
                    label.remove();
                },

                errorPlacement: function(error, element) {
                    if (element.is('input[type=radio]') || element.is('input[type=checkbox]')) {
                        element.closest('.form-group').append(error);
                    } else {
                        error.insertAfter(element.closest('.input-icon'));
                    }
                }
            });

            $("#factoryForImport").rules("add",
                {
                    required: true,
                    messages: {
                        required: 'Bạn vui lòng chọn một đơn vị'
                    }
                });
        };

        return {
            init: function() {
                handleValidate();
            }
        };
    }();

    $(document).ready(function() {
        ImportExcelValidate.init();
    });

    $('#importExcelDevice').submit(function(e) {
        e.preventDefault(); // stop the standard form submission
        $('#displayError').empty();
        $.ajax({
            url: this.action,
            type: this.method,
            data: new FormData(this),
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.length <= 0) {
                    window.location.reload(true);
                } else {
                    var html = '<table class="table table-bordered table-striped"><tr><th>TT</th><th style="text-align:center;">Thông báo lỗi</th></tr>';
                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        html += '<tr><td>' + item.RowIndex + '</td><td>' + item.ErrorMessage + '</td></tr>';
                    }
                    html += '</table>';
                    $('#displayError').append(html);
                    $('#displayError').show();
                }
            },
            error: function (xhr, error, status) {
                bootbox.alert('Có lỗi xảy ra. Hãy liên hệ với quản trị viên!');
                console.log(error, status);
            }
        });
        return false;
    });
</script>