
@{
    ViewBag.Title = "AccessDenied";
}

<section class="content">
    <div class="row" style="margin:20px">       
        <div class="col-md-3">

        </div> 
        <div class="col-md-6">
            <div class="error-content">
                <h1><i class="fa fa-warning text-yellow"></i> Bạn không có quyền truy cập</h1>
            </div>
        </div> 
        <div class="col-md-3">

        </div> 
        
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>


